.first{
    text-align: center;
    color: white;
    height: 700px;
    background: url(https://media.discordapp.net/attachments/1134058154733355038/1184473306271846511/adfgdfgsdfg.png?ex=658c19ba&is=6579a4ba&hm=0a49cbf7347a1dcb3a7e51c406c6fdfb585fe34cd399a06e1ce1a79b4f0fff56&=&format=webp&quality=lossless&width=1193&height=671);
}











* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 40%;
    background: rgb(242,111,99);
    background: linear-gradient(139deg, rgba(242,111,99,1) 0%, rgba(243,112,67,1) 100%);    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 25px;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    
    color: #ffffff;
  }
  
  .card-body {
    transition: 0.3s;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  .card-body:hover {
    transition: 0.3s;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }

  .card-body .btn {
    transition: 0.3s ease;
    display: block;
    color: #000000;
    text-align: center;
    background: linear-gradient(90deg, #ffffff 0%, #FEFEFE 100%);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius:300px;
  }
  .card-body .btn:hover {
    display: block;
    color: #ffffff;
    text-align: center;
    background: rgb(83, 83, 83);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius:300px;
    
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap');