.first{
    text-align: center;
    color: white;
    height: 700px;
    background: url(https://media.discordapp.net/attachments/1134058128846106684/1184420503390261258/nedols.png?ex=658be88d&is=6579738d&hm=c01b870c15f39b60fb2c3f83dde353cc4c3be52d6340daf714c909c078d74129&=&format=webp&quality=lossless&width=1193&height=671);
}

.second{
  height: 2000px;
  text-align: center;
  background: url(https://media.discordapp.net/attachments/1134058128846106684/1184643960614961182/greeno247.png?ex=658cb8a9&is=657a43a9&hm=c9e600f4ffe53bf91df5ca6b5b469237f78a666d8c7b4145cc3435da3450c226&=&format=webp&quality=lossless&width=1193&height=671);
}


@media (max-width: 480px) {
  .second{
    height: 3500px;
  }
}



@media (max-width: 720px) {
  .second{
    height: 3500px;
  }

  .kik{
    width:220px ;
    height:3 00px;
  }
}

@media (max-width: 1080px) {
  .second{
    height: 4000px;
  }

}





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 40%;
    background: rgb(242,111,99);
    background: linear-gradient(139deg, rgba(242,111,99,1) 0%, rgba(243,112,67,1) 100%);    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 25px;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    
    color: #ffffff;
  }
  
  .card-body {
    transition: 0.3s;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  .card-body:hover {
    
    transition: 0.3s ease;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }

  .card-body .btn {
    transition: 0.3s ease;
    display: block;
    color: #000000;
    text-align: center;
    background: linear-gradient(90deg, #ffffff 0%, #FEFEFE 100%);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius:300px;
  }
  .card-body .btn:hover {
    transition: 0.3s ease;
    display: block;
    color: #ffffff;
    text-align: center;
    background: rgb(83, 83, 83);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius:300px;
    
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap');